/* Estilos para el formulario */
#form {
 /* margin: -700px 1000px; /* Margen para posicionar el formulario */
  width: 400px; /* Ancho del formulario */
  /*padding: 10px; /* Espaciado interno del formulario */
  size: 3vw; /* Tamaño de la fuente en relación con el ancho de la ventana */
}

/* Estilos para la imagen de contacto */
.imgcontact {
  width: 400px; /* Ancho de la imagen */
  height: auto; /* Altura automática para mantener la proporción */
  /*margin-top: 80px; /* Margen superior para posicionar la imagen */
  /*margin-left: 180px; /* Margen izquierdo para posicionar la imagen */
}

/* Estilos para el botón de enviar del formulario */
#submitContact {
  color: white; /* Color del texto */
  border-radius: 30px; /* Borde redondeado */
  background-color: #0f97ec; /* Color de fondo del botón */
}

/* Estilos para el  banner (barra de navegación) */
.navbar {
  z-index: 2; /* Asegura que el segundo banner esté por encima del primer banner */
}

/* Estilos para el contenedor principal del encabezado */
.container {
  /*width: 80%; /* Ancho completo */
  /*max-width: 1600px; /* Ancho máximo para el contenido del encabezado */
  margin: 0 auto; /* Centrar el contenedor */
}

/* Estilos para el contenedor de la barra de navegación */
.navigation-container {
  /*display: flex; /* Utilizar visualización flexible */
  justify-content: space-between; /* Alinear los elementos a los extremos */
  align-items: center; /* Alinear los elementos verticalmente al centro */
}

/* Estilos para el logotipo */
.navbar-brand img {
  max-width: 250px; /* Ancho máximo del logotipo */
}

/* Estilos para el botón de menú desplegable */
.navbar-toggler {
  border: none; /* Quitar el borde */
  outline: none; /* Quitar el contorno */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
}

/* Estilos para los enlaces de navegación */
.navbar-nav .nav-link {
  color: #5CE1E6; /* Color del texto */
  margin-right: 20px; /* Espaciado a la derecha entre los enlaces */
}

/* Estilos para los enlaces de redes sociales */
.navbar-nav .nav-link img {
  max-width: 20px; /* Ancho máximo de las imágenes de redes sociales */
  border: none; /* Quitar el borde */
  outline: none; /* Quitar el contorno */
  cursor: pointer;
}

/* Estilos para las acciones */
.navbar-nav:last-child {
 /* display: flex; /* Utilizar visualización flexible */
  align-items: center; /* Alinear los elementos verticalmente al centro */
}
